.button {
  border: none;
  cursor: pointer;
}

.button_as_link {
  /* button reset styles */
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  /* end reset */
  color: var(--color-dark-blue);
  cursor: pointer;
}

.button_as_link:hover {
  color: var(--color-accent);
}
