.menu {
  padding: 3rem 1rem;
  background-color: var(--color-light-grey);
}

.menu ul {
  margin: 0 0 2rem 0;
  padding: 0 0 2rem 0;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu ul:last-child {
  border-bottom: 0;
}

.navlink {
  display: block;
  border-radius: 3px;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--color-grey);
}

.navlink:hover {
  color: var(--color-accent);
}

.selected {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.selected:hover {
  color: var(--color-white);
}

.icon {
  margin-right: 1rem;
}
