.task {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 2rem auto;
  align-items: start;
  gap: 1.2rem;
}

.description {
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-small);
}

.actions {
  display: flex;
  gap: 0.5rem;
}
