.task {
  margin-bottom: 2rem;
}

.description {
  cursor: pointer;
  margin: 0;
}

.date {
  font-size: var(--font-small);
  color: var(--color-grey);
  text-align: right;
  font-style: italic;
}

.actions {
  display: none;
}
