.dashboard {
  display: grid;
  grid-template-columns: 60px 300px auto;
  height: 100vh;
}

.profile {
  display: flex;
  flex-direction: column;
  background-color: var(--color-grey);
  justify-content: space-between;
}

.menu {
  padding: 3rem 1rem;
  border-right: 1px solid var(--color-light-grey);
}

.menu ul {
  margin: 0 0 2rem 0;
  padding: 0 0 2rem 0;
  list-style: none;
  border-bottom: 1px solid var(--color-light-grey);
}

.menu a {
  display: block;
  border-radius: 3px;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--color-grey);
}

.menu li.selected a {
  background-color: var(--color-light-grey);
}

.content {
  padding: 3rem;
  max-width: 68rem;
  margin: 0 auto;
}

.content h1 {
  margin-top: 0;
}
