.dashboard {
  display: grid;
  grid-template-columns: 60px 300px auto;
  height: 100vh;
}

.content {
  padding: 3rem;
  max-width: 68rem;
  margin: 0 auto;
  overflow-y: auto;
}

.content h1 {
  margin-top: 0;
}
