.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--color-grey);
  justify-content: space-between;
  padding-bottom: 1rem;
}

.avatar {
  margin: 1rem;
}

.logout {
  display: block;
  border: 0;
  background: none;
  color: var(--color-light-grey);
}

.icon {
  height: 4rem;
  width: 4rem;
}
